body.xtsi-no-promoted #slogxtmaindropbutton-li-promoted,
body.xtsi-no-surprise #slogxtmaindropbutton-li-surprise,
body.xtsi-no-surprise #xt-tbline-items-wrapper .xt-tbline-item.icon-surprise {
    display: none;
}
.block.block-slogitems .content {
    margin: 0;
}

.xtsi-list .item-list ul {
    /*margin: 0 0 1em;*/
    margin: 0;
    padding: 0;
}
.xtsi-list .item-list ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.033);
    border-bottom: 1px solid #fff;
    display: block;
    margin: 0;
    padding: 0;
}
.xtsi-list .item-list ul li a.active {
    color: ivory;
    background-color: steelblue;
}
.xtsi-list .item-list ul li a.xtsi-by-entity {
    background-color: silver;
}
.xtsi-list .item-list ul li.active-trail {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.063);
}

/*.slogitems .view-slogitem .item-list ul li a {*/
.xtsi-list  .item-list ul li a {
    color: #434343;
    border: none;
    display: block;
    padding: 0.5em;
}

.slogxt-list #xtsi-item-action,
.xtsi-list #xtsi-item-action {
    display: none;
    float: right;
    height: 30px;
    width: 30px;
    background-color: khaki;
    margin: 2px 2px 0 3px;
    background-color: silver;
    background-image: url("../../slogxt/css/icons/cog.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    border-radius: 8px;
    cursor: pointer;
}
.block.xtsi-compact-list .slogxt-list #xtsi-item-action,
.block.xtsi-compact-list .xtsi-list #xtsi-item-action {
    height: 21px;
}

.slogxt-list.has-action #xtsi-item-action,
.xtsi-list.has-action #xtsi-item-action {
    display: block;
}
.slogxt-list #xtsi-item-action.select,
.xtsi-list #xtsi-item-action.select {
    background-image: url("../../slogxt/css/icons/checkmark.svg");
}
.slogxt-list #xtsi-item-action.documentadd,
.xtsi-list #xtsi-item-action.documentadd {
    background-image: url("../../slogxt/css/icons/documentadd.svg");
}
.slogxt-list #xtsi-item-action.blocked,
.xtsi-list #xtsi-item-action.blocked {
    opacity: 0.3;
    filter: Alpha(Opacity=30);
    cursor: auto;
    background-image: url("../../slogxt/css/icons/blocked.svg");
}


#xtsi-tbnode-wrapper {
    width: 35px !important;
    height: 38px !important;
    float: left;
    /*background-color: khaki;*/
    display: none;
}
#xtsi-tbnode-wrapper .toolbar-bar,
#xtsi-tbnode-wrapper .toolbar-bar {
    width: 35px !important;
    height: 38px !important;
    box-shadow: none !important;
}
.xtsi-content.has-tbnode #xtsi-tbnode-wrapper {
    display: block;
}
.xtsi-content.has-tbnode > .sxt-header-wrapper {
    margin-left: 35px;
}
.xtsi-content .messages.slogxt-info {
    margin: 0 15px;
}

/*.xtsi-content > .content {
    margin: 0;
    padding: 0 5px;
}*/
/*//todo::replace this by preventing header building */
#slogxt-dialog-content .preview article.node > header,
.xtsi-content > .content article.node > header {
    display: none;
}
.column.sidebar > aside.xtsi-has-slogtb {
    padding-top: 0;
    position: relative;
}
.column.sidebar > aside.xtsi-has-slogtb > .ui-tabs {
    border: none;
    padding: 0;
}
.column.sidebar > aside.xtsi-has-slogtb > .ui-tabs ul.ui-tabs-nav {
    background: lavender;
/*    padding: 0;
    margin: 0;
    border: none;
    border-bottom: red;*/
}

