/**
 * @file
 * Styling for sjq-XX-lout theme icons.
 */

/**
 * line toolbar
 */
.xt-tbline-item.icon-bookmarks {
    background-image: url("icons/bookmarks.svg");
}
.xt-tbline-item.icon-surprise {
    background-image: url("icons/surprise-darkred.svg");
}
.xt-tbline-item.icon-go-back {
    background-image: url("icons/go-back.svg");
}
.xt-tbline-item.icon-history {
    background-image: url("icons/history.svg");
}
.xt-tbline-item.icon-go-next {
    background-image: url("icons/go-next.svg");
}

.slogxt-dropbutton .dropbutton-action a.icon-bmstorage:before {
    background-image: url("icons/bmstorage.svg");
}

.toolbar.slogtb.toolbar-icon-tbnode,
.toolbar.slogtb .toolbar-bar .toolbar-icon-tbnode:before {
    background-image: url("icons/tbnode.svg");
}

