/*toc*/
article.node #toc {
    background-color: lavender;
    margin: -6px -2px 0 10px;
    padding: 10px;
    min-width: 10px;
    min-height: 8px;
    border-radius: 8px;
    float: right;
    position: relative;
}

article.node #toc .mw-toc-toggler {
    background-image: url("icons/tocopen.svg");
    position: absolute;
    top: 0;
    right: -2px;
}
article.node #toc.open .mw-toc-toggler {
    background-image: url("icons/tocclose.svg");
}

article.node #toc.open {
    background-color: lavender;
    max-width: 600px;
}

article.node #toc .toctitle,
article.node #toc ul {
    display: none;
}

article.node #toc.open .toctitle,
article.node #toc.open ul {
    display: block;
}

article.node #toc ul {
    list-style-type: none;
    list-style-image: none;
    text-align: left;
}

article .field--type-sxt-mediawiki #toc ul,
article .field--type-sxt-mediawiki #toc ol {
    margin: 0.3em 0 1em 1em;
}
.content.many-mwcomments article .field--type-sxt-mediawiki #toc {
    line-height: 1.1em;
}
.content.many-mwcomments article .field--type-sxt-mediawiki #toc ul,
.content.many-mwcomments article .field--type-sxt-mediawiki #toc ol {
    margin-bottom: 4px;
}

/*comments*/
.sxt-mwcomments .sxtmwc-action.sxtmwc-toggler-all {
    display: none;
    line-height: 22px;
    height: 22px;
    width: 24px;
    padding: 0;
    background-image: url("icons/mwc-is-open.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40% auto;
}
.sxt-mwcomments .sxtmwc-action.sxtmwc-toggler {
    display: none;
    min-width: auto;
    line-height: 32px;
    height: 22px;
    margin: 0 2px 0 -6px;
    width: 24px;
    padding: 0;
    background-image: url("icons/mwc-is-open.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40% auto;
}
.sxt-mwcomments.has-toggler .sxtmwc-action.sxtmwc-toggler-all,
.sxt-mwcomments.has-toggler .sxtmwc-action.sxtmwc-toggler {
    display: inline-block;
}
.sxt-mwcomments.closed .sxtmwc-action.sxtmwc-toggler-all,
.sxt-mwcomments .sxt-mwcomment-item.closed .sxtmwc-action.sxtmwc-toggler {
    background-image: url("icons/mwc-is-closed.svg");
}
.sxt-mwcomments .sxt-mwcomment-item.mwc-item-marked {
    border-left-color: darksalmon !important;
    border-radius: 8px;
}
.sxt-mwcomments .sxt-mwcomment-item.mwc-item-marked > h3,
.sxt-mwcomments .sxt-mwcomment-item.mwc-item-marked > h4,
.sxt-mwcomments .sxt-mwcomment-item.mwc-item-marked > h5,
.sxt-mwcomments .sxt-mwcomment-item.mwc-item-marked > h6 {
    border-top: 1px solid darksalmon !important;
    border-radius: 8px;
}

.sxt-mwcomments .sxtmwc-action-wrapper {
    margin-top: -4px;
}
.sxt-mwcomments.has-toggler .sxtmwc-action-wrapper {
    margin-left: 22px;
}
.sxt-mwcomments h2 .sxtmwc-action-wrapper {
    margin-top: -8px;
}
.sxt-mwcomments .sxtmwc-action.xtsi-temp-new {
    background-color: khaki;
    cursor: default;
}

#slogxt-dialog-content .preview.xtsi-mwcomment-preview article.comment {
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height: 16px;
    padding: 6px 0 6px 10px;
    min-width: 95%;
}
#slogxt-dialog-content .preview.xtsi-mwcomment-preview article.comment p {
    margin-bottom: 6px;
}

article .field--type-sxt-mwcomment ul,
article .field--type-sxt-mwcomment ol {
    margin: 0 0 0 2em;
    padding: 0;
}
article .field--type-sxt-mwcomment dt {
    font-weight: bold;
    margin-bottom: 0.1em;
}
article .field--type-sxt-mwcomment dd {
    margin: 0 0 0 1.4em;
}

